.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bengalsBetButton{
  font-size: 20px

}
.ramsBetButton{
  font-size: 20px
}
.bengalsStyle{


}

.module-border-wrap {
  border-color: linear-gradient(to right, red, yellow);
  border-width: 2px;
}

.greyBackground {
  background-color:#d0d9df;
}
.ramsStyle{
  
}
#gamblerDashboard { 
  background: linear-gradient(180deg, rgba(143,161,170,1) 15%, rgba(255,255,255,1) 48%, rgba(143,161,170,1) 78%);
}

#gamblerCards {
  background-color: #c1cbd1;
}

.bengalsButton {
  background-color:black;
  font-family:'Bengals';
  font-size: 40px;
  color:#f54e0d;
  border-color:#f54e0d;
  border-style: solid;
  border-width:2px;
  border-radius:8px;
  padding: 0px 4rem 4px 4rem;
}
.ramsButton {
  background-color:#f9cc02;
  font-family:'Rams';
  font-size: 33px;
  color:#18319b;
  border-color:#18319b;
  border-style: solid;
  border-width:2px;
  border-radius:8px;
  padding: 5px 4rem 5px 4rem;
}
.bengals-font-black {
  font-family:'Bengals';
  color:#f54e0d;
  font-size: 40px;
}

.rams-font-blue {
  font-family:'Rams';
  color:#18319b;
  font-size: 33px;
}
.rams-card-body{
  background-color:#18319b;
  font-family: league-gothic,sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size:30px;
  color:#f9cc02;
}

.league-placeholder {
  font-family: league-gothic,sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size:30px;
}

.bengals-card-body{
  background-color:#f54e0d;
  font-family: league-gothic,sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size:30px;
  color:black;
}



.border-radius-round {
  border-radius: 20px !important;
}
.border-radius-kinda-round {
  border-radius: 10px !important;
}

.Modal-Header-Bengals {
  background: black;
  
}
.Modal-Header-Rams {
  background: #f9cc02;
  
}

#shape {
  -webkit-clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0% 100%);
}

.App-link {
  color: #61dafb;
}

#tooltip969535472 {
  background-color: none; /* Blue background */
  border: none; /* Remove borders */
  color: none; /* White text */
  padding: 0px 0px; /* Some padding */
  font-size: 16px; /* Set a font size */
  border-color: none;
  box-shadow: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

.countdown-body {
  font-family: "Lato", sans-serif;
}

.countdown-h1 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #111;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
