@font-face {
    font-family: 'Bengals';
    src: url('./fonts/Bengals/Bengals.otf') format('opentype');
  }


  @font-face {
    font-family: 'Rams';
    src: url('./fonts/Rams/Rams.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SuperBowl';
    src: url('./fonts/SuperBowl/SuperBowl.ttf') format('truetype');
  }